
#atividade{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    top: 200px;
    margin: 0 100px;
    padding: 100px;
    justify-content: center;
    display: flex;

}



